import /init.recovery.qcom_decrypt.rc

on init
    write /sys/class/backlight/panel0-backlight/brightness 200

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on boot
    start health-hal-2-1

on post-fs
    start boot-hal-1-2

on post-fs-data
# +++ ASUS_BSP : add for asus battery safety upgrade and health partition
#mount batinfo
    wait /dev/block/bootdevice/by-name/batinfo
    exec /system/bin/e2fsck -p /dev/block/bootdevice/by-name/batinfo
    mount ext4 /dev/block/bootdevice/by-name/batinfo /batinfo nosuid nodev noatime barrier=1
    chown shell root /batinfo
    chmod 0775 /batinfo
    restorecon_recursive /batinfo
# --- ASUS_BSP : add for asus battery safety upgrade and health partition

