# Copyright (c) 2017-2018,2020-2021 The Linux Foundation. All rights reserved.

import /init.recovery.qcom_decrypt.fbe.rc

on boot
    start health-hal-2-1

on init
    write /sys/class/backlight/panel0-backlight/brightness 200
    setprop sys.usb.configfs 1

on property:ro.boot.usbcontroller=*
    setprop sys.usb.controller ${ro.boot.usbcontroller}
    wait /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode peripheral
    wait /sys/class/udc/${ro.boot.usbcontroller} 1

on post-fs
    start boot-hal-1-1

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on property:ro.crypto.type=file
    setprop ro.crypto.state encrypted
    setprop twrp.apex.loaded true
